@model Student
<h2> Delete Student </h2>
<hr>

<p>
    <b>@Model.StudentName @Model.StudentLastName</b> isimli öğrenciyi silmek istiyor musunuz?
    <form asp-action="Delete" method="post">
        <input type="hidden" name="id" value="@Model.StudentId">
        <button type="submit" class="btn btn-danger">Evet</button>
        <a asp-action="Index" class="btn btn-primary">İptal</a>
    </form>
</p>
